# NPM
/node_modules/

# SASS
.sass-cache/

# CSS
/css/

# JS
/js/

# Build
/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*
